
.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 16px 48px;
 
}


.home-top {
  text-align: center;
  margin: 12px 0 24px;
  margin-top: 6rem;
}

.home-top h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  margin-bottom: 8px;
  color: #111827;
  letter-spacing: 0.5px;
}

.home-top .subtitle {
  font-family: 'Inter', sans-serif;
  color: #6b7280;
  font-size: 1rem;
}



.home-content {
  margin-top: 12px;
 
}

.home-content h1 {
   font-family: 'Bebas Neue', sans-serif;
  font-size: clamp(.5rem, 3vw, 2rem);
  margin-bottom: 8px;
  color: #111827;
  letter-spacing: 0.5px;
}


.card-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  align-items: center;
}

body {
  background: #f3f3f3;
}


@media (min-width: 1400px) {
  .home {
    max-width: 1320px;
  }
}
